[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flockq = {file = ".", editable = true}

[dev-packages]
types-setuptools = "*"
mypy = "*"
black = "*"
isort = "*"
