[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schlange-queue = {file = ".", editable = true}

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
setuptools = "*"
types-setuptools = "*"
twine = "*"
