[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schlange = {file = ".", editable = true}

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
types-setuptools = "*"
